header {
	height: 40px;
	background-color: white;
	text-align: right;
}

header ul {
	list-style: none;
	margin-right: 40px;
	font-size: 0px;
}

header ul li {
	display: inline-block;
	border-right: 1px solid white;
}

header ul li a {
	display: inline-block;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: lightgrey;
	color: white;
	font-size: 14px;

}

.logo {
	display: block;
	margin: 0 auto;
	margin-top: 178px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(voorbeeld/header_bg.jpg);
	background-size: cover;
}

.h1 {
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 40px;
}

.balk {
	width: 650px;
	margin: 0 auto;
	margin-top: 35px;
}

span, i {
	color: rgba(255, 255, 255, 0.8);
}

.menu_home, .menu_features, .menu_pages, .menu_portfolio, .menu_blog, .menu_contact {
	display: inline-block;
	text-align: center;
	padding: 19.5px;
}

.fa.fa-home, .fa.fa-gears, .fa.fa-copy, .fa.fa-th, .fa.fa-font, .fa.fa-comment {
	display: block;
	font-size: 19px;
	margin: 5px;
}

a {
	text-decoration: none;
}